<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="azure" value="https://pkgs.dev.azure.com/umbraco/_packaging/Umbraco_Internal/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <azure>
      <add key="Username" value="jam@umbraco.dk" />
      <add key="ClearTextPassword" value="%PATTOKEN%" />
    </azure>

  </packageSourceCredentials>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
</configuration>
