@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<html>
<head>
<title>@Model.Value("title")</title>
<environment include="Development">
   <link rel="stylesheet" asp-href-include="~/app/assets/main*.css"> <!-- load styles -->
   <script type="module" defer asp-src-include="~/app/assets/main*.js"></script> 
  <script type="module" defer src="~/@@vite/client"></script> <!-- load Vite -->
  <script type="module" defer src="~/main.js"></script> <!-- define the entry point -->
</environment>

<environment exclude="Development">
  <!--  ex dev  -->
   <link rel="stylesheet" asp-href-include="~/app/assets/main*.css"> <!-- load styles -->
   <script type="module" defer asp-src-include="~/app/assets/main*.js"></script> <!-- load Vite build output -->
</environment>
</head>
<body>
	<div id="app">@Model.Value("title")</div>
	<h3>Even More HepHeyHEYhey!</h3>
</body>
</html>